<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <!--        1 - Activity Lifecycle-->
        <activity
            android:name="com.training.libraryofalltopics.activitylifecycle.MainActivityLifeCycle"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        2 - Adapter-->
        <activity
            android:name="com.training.libraryofalltopics.adapter.AdapterMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.adapter.CustomAdapter"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.adapter.ArrayAdapter"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        3 - Calculator-->
        <activity
            android:name="com.training.libraryofalltopics.calculator.CalculatorMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        4 - Counter-->
        <activity
            android:name="com.training.libraryofalltopics.counter.CounterMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        5 - Greeting-->
        <activity
            android:name="com.training.libraryofalltopics.greeting.GreetingMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        6 - Hello World-->
        <activity
            android:name="com.training.libraryofalltopics.helloworld.HelloWorldMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        7 - Intent With Layout-->
        <activity
            android:name="com.training.libraryofalltopics.intentwithlayout.IntentMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.intentwithlayout.ConstraintLayout"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.intentwithlayout.ExplicitIntent"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.intentwithlayout.LinearLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.intentwithlayout.RelativeLayoutActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        8 - LuckNumber-->
        <activity
            android:name="com.training.libraryofalltopics.luckynumber.LuckyNumberMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <activity
            android:name="com.training.libraryofalltopics.luckynumber.LuckNumberScreen"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        9 - Manifest-->
        <activity
            android:name="com.training.libraryofalltopics.manifest.ManifestMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        10 - Media Player-->
        <activity
            android:name="com.training.libraryofalltopics.mediaplayer.MediaPlayerMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        11 - Unit Convertor-->
        <activity
            android:name="com.training.libraryofalltopics.unit.UnitMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        Kotlin Apps-->
        <!--        14 - Currency Convertor-->
        <activity
            android:name="com.training.libraryofalltopics.currencyConvertor.CurrencyConvertorMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        15 - Planet using Custom Adapter-->
        <activity
            android:name="com.training.libraryofalltopics.customAdapter.CustomAdapterMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        16 - Data Binding Basics-->
        <activity
            android:name="com.training.libraryofalltopics.bindingdata.DataBindingMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        17 - Kotlin Basics-->
        <activity
            android:name="com.training.libraryofalltopics.firstkotlin.KotlinMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        18 - Fragments-->
        <activity
            android:name="com.training.libraryofalltopics.fragments.FragmentMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        19 - Grocery using Recycler View-->
        <activity
            android:name="com.training.libraryofalltopics.grocery.GroceryMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        20 - Image Viewer-->
        <activity
            android:name="com.training.libraryofalltopics.imageviewer.ImageViewerMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        23 - Live Data-->
        <activity
            android:name="com.training.libraryofalltopics.livedata.LiveDataMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        24 - Navigation Component-->
        <activity
            android:name="com.training.libraryofalltopics.navigations.NavMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        25 - Navigation Drawer-->
        <activity
            android:name="com.training.libraryofalltopics.navigationdrawer.NavDrawerMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        26 - Services -->
        <activity
            android:name="com.training.libraryofalltopics.serviceNotification.ServiceMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />
        <service android:name=".serviceNotification.MyService" />

        <!--        27 - Services -->
        <activity
            android:name="com.training.libraryofalltopics.broadcastservice.BroadcastMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        28 - Card view - Sports -->
        <activity
            android:name="com.training.libraryofalltopics.sportscardview.SportsMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

        <!--        28 - Card view - Sports -->
        <activity
            android:name="com.training.libraryofalltopics.permissions.PermissionMainActivity"
            android:exported="false"
            android:theme="@style/Theme.libraryofalltopics" />

    </application>

</manifest>


